/*index.html MAIN*/
.mapa{
    height: 400px;
    background: url(location-background.jpg) 0% 0% / 100%;
}

.mapa .layer{
    padding: 3em 0; 
    width: 100%;    
    height: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
}

.localizacao-texto{
    width: 40%;
    height: 100%;
}

.localizacao-texto .texto-destacado{        
    margin: 10% 5%;
    text-align: center;
}

.localizacao-mapa{
    width: 60%;
    height: 100%;    
    margin: 0 auto;
}

.localizacao-mapa iframe{
    width: 70%;
    height: 100%;
    margin: 0 2em;    
    clear: both;
}

.beneficios{    
    width: 100%;
    height: 1000px;
    background: url(beneficios-background.jpg) 0% 50% / 100%;
}

.beneficios .layer{
    padding: 3em 0; 
    width: 100%;    
    height: 100%;    
    position: relative;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.4);
}

.beneficios .texto-destacado{
    text-align: center;
    display: inline-block;
    width: 100%;    
}

.conteudo-beneficios{
    margin: 5% auto;
    width: 940px;    
}

.lista-beneficios{
    color: white;
    width: 40%;
    vertical-align: top;
    display: inline-block;
}

.itens{
    line-height: 2em;
    font-weight: bold;
    font-size: 24px;
}


.itens:before{
    content: "✦";
}

.imagem-beneficios{
    width: 60%;
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 #000000;
    /*box-shadow: 10px 10px 5px 20px #000000, -10px -10px yellow, -20px 20px rgba(255, 0, 0, 0.5);*/
}

.imagem-beneficios:hover{
    opacity: 0.3;
}

.video{
    width: 560px;
    margin: 2em auto;
}
