header {
    background: #BBBBBB;
}

nav li {
    display: inline;    
    margin: 0 0 0 15px; /*top right bottom left*/
}

nav a {
    font-size: 22px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;        
}